- set ||= []
- if set.present?
  %table.table.table-striped
    %thead
      %tr
        %th Member
        %th Tag
        %th Note
        %th{colspan:3}

    %tbody
      - set.each do |note|
        = render partial: '/notes/partials/list', locals:{note:note}
