- errors ||= []
- if errors.count > 0
  - emp = "#{pluralize(errors.count, 'error')} found:"
  - msg = capture_haml do
    %ul
      - errors.full_messages.each do |err|
        %li= err

  = render partial: '/partials/dismissable_alert', locals:{klass:'danger',emphasis:emp,message:msg}
